﻿@{
    Layout = null;
}
<html>
<head>
    <title>Classegory</title>
</head>
<body>
    <input id="text" />
    <div id="result"></div>
    <script>
        var text = document.getElementById("text");
        var result = document.getElementById("result");

        text.oninput = function () {
            if (!text.value) {
                return;
            }

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    var data = JSON.parse(this.response);

                    result.innerHTML = "";

                    for (var i in data) {
                        result.innerHTML += ("<div style='font-size:" + data[i].Score + "em'>" + data[i].Category + "</div>");
                    }
                }
            };
            xhttp.open("GET", "@Url.Content("~/Home/Category")?text=" + text.value, true);
            xhttp.send();
        };
    </script>
</body>
</html>